<!-- Advertiser Disclosure Modal -->
<div class="modal-adverdis fade" id="myModalDisclosure" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-adverdis-dialog modal-adverdis-sm">
        <div class="modal-adverdis-content">
            <div class="modal-adverdis-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle"></i></button>
                <h4 class="modal-adverdis-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-adverdis-body">

                <div class="disclosure-popup-image"></div>

            </div>
        </div>
        <div class="modal-adverdis-footer">
        </div>
    </div>
</div>