        <div class="other-subnav-hldr">
            <ol class="breadcrumb-other" style="margin-left:0px;">
                <li><a href="/">Credit Cards </a> <i class="fa fa-angle-right"></i></li>
                <li><a href="/about-us">About Us </a> <i class="fa fa-angle-right"></i></li>
                <li>Media Center</li>
            </ol>
            <ol class="breadcrumb" style="margin-left:0px;">
                <li class="active">Media Center</li>
                <li><a href="/about-us/press-kit">Press Kit</a></li>
                <li><a href="/about-us/press-releases">Press Releases</a></li>
                <li><a href="/media-contact">Media Contact</a></li>
            </ol>
        </div>

        <div class="row">
            <div class="col-md-18">
                <h1>Media Center</h1>
                <p>As an industry leader in the credit card marketplace, CreditCards.com is frequently referenced in the media. Recent highlights are listed below.</p>
                <p>Senior Industry Analyst Matt Schulz and our <a href="/about-us/credit-card-experts.php">staff of credit card experts</a> is available to comment on credit cards issues or support with research and opinions. We also conduct proprietary public opinion polls which have been widely cited in the media.</p>
                <p>If you need material for a developing story or article, we will be happy to assist you &#8211; please contact our <a href="/public-relations.php">credit card experts</a>.</p>
            </div>
            <div class="col-md-6">
                <div class="panel panel-misceblue">
                    <div class="panel-heading">Credit Card Experts Available</div>
                    <div class="panel-body">
                        <p> Experts available today for: <br>
                            <strong>Quotes . Interviews . Stories </strong>-- live or recorded <br>
                            <br>
                            Topics we speak on: <br>
                            <strong>Credit Cards . Personal Finance . Current Events . Federal Regulations </strong> <br>
                            <br>
                            Experts available for media interviews. <br>
                            <a href="/public-relations.php">Contact a credit card expert</a> today. </p>
                    </div>
                </div>
            </div>
        </div>

        <h2>Recent Interviews And Mentions</h2>