<!-- Site Action Block -->
<div class="action-block">
    <div class="container">
    <div class="action-hldr">
        <div class="action-card-img">
            <img src="{{siteUrl}}assets/images/mycc-cardmatch-banner.png" width="100%;">
            <a class="cardmatch" target="_blank" href="https://www.creditcards.com/cardmatch/?action=show_form"></a>
            <a class="mycreditcards" target="_blank" href="https://my.creditcards.com/?qls=MCC_DHMEBANR.080315CRED"></a>
        </div>
    </div>
    <div class="action-hldr-mobile">
        <a target="_blank" href="https://www.creditcards.com/cardmatch/?action=show_form">
            <img src="{{siteUrl}}assets/images/cardmatch-mobile-banner.png" class="img-responsive">
        </a>
    </div>
    </div>
</div>

<div class="action-strip">
    <img class="img-responsive hidden-xs" src="{{siteUrl}}assets/images/media-mentions.png">
</div>