<!-- Search Modal -->
<div class="modal-search fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-search-dialog modal-search-lg">
        <div class="modal-search-content">
            <div class="modal-search-header">
                <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times-circle" style="color:#fff;"></i></button>
                <h4 class="modal-search-title" id="myModalLabel"><img src="/assets/images/logo.png" alt="CreditCards.com" width="243" height="43"></h4>
            </div>
            <div class="modal-search-body">
                <div class="container">
                    <div class="row">
                        <div class="search-input-hldr">
                            <form class="form-inline ui-front" role="form" id="modal-search-form" action="/search.php">
                                <div class="form-group">
                                    <input autocomplete="off" class="form-control input-lg ui-autocomplete-input" name="query" id="modal-search-text" placeholder="Search CreditCards.com ..." style="width:600px;" type="text">
                                </div>
                                <button type="submit" class="btn btn-success"><i class="
                                fa fa-search fa-2x"></i></button>
                                <ul style="display: none;" tabindex="0" id="ui-id-1" class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content"></ul></form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="panel panel-simple">
                                <div class="panel-heading"><i class="fa fa-credit-card fa-lg" style="color:#156abd;"></i> Card Types</div>
                                <div class="panel-body">
                                    <ul class="list-unstyled">
                                        <li><a href="http://www.creditcards.com/balance-transfer.php">Balance Transfer</a></li>
                                        <li><a href="http://www.creditcards.com/cash-back.php">Cash Back</a></li>
                                        <li><a href="http://www.creditcards.com/airline-miles.php">Travel &amp; Airlines</a></li>
                                        <li><a href="http://www.creditcards.com/no-annual-fee.php">No Annual Fee</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="panel panel-simple">
                                <div class="panel-heading"><i class="fa fa-tachometer fa-lg" style="color:#156abd;"></i> Credit Quality</div>
                                <div class="panel-body">
                                    <ul class="list-unstyled">
                                        <li><a href="http://www.creditcards.com/excellent-credit.php">Excellent</a></li>
                                        <li><a href="http://www.creditcards.com/good-credit.php">Good</a></li>
                                        <li><a href="http://www.creditcards.com/fair-credit.php">Fair</a></li>
                                        <li><a href="http://www.creditcards.com/bad-credit.php">Bad</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="panel panel-simple">
                                <div class="panel-heading"><i class="fa fa-thumbs-up fa-lg" style="color:#156abd;"></i> Card Offers</div>
                                <div class="panel-body">
                                    <ul class="list-unstyled">
                                        <li><a href="http://www.creditcards.com/top-credit-cards.php">Top Offers</a></li>
                                        <li><a href="http://www.creditcards.com/limited-time-offers.php">Limited Time Offers</a></li>
                                        <li><a href="http://www.creditcards.com/best-credit-cards.php">Best Credit Cards</a></li>
                                        <li><a href="http://www.creditcards.com/reward.php">Rewards Cards</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="panel panel-simple">
                                <div class="panel-heading"><i class="fa fa-wrench fa-lg" style="color:#156abd;"></i> Tools</div>
                                <div class="panel-body">
                                    <ul class="list-unstyled">
                                        <li><a href="https://www.creditcards.com/cardmatch/?action=show_form" target="_blank">CardMatch™</a></li>
                                        <li><a target="_blank" href="https://walletup.creditcards.com/app?utm_source=ccrd&amp;utm_medium=referral&amp;utm_content=left_nav&amp;utm_campaign=walletup">WalletUp® Card Finder</a></li>
                                        <li><a href="https://my.creditcards.com/" target="_blank">Free Credit Score</a></li>
                                        <li><a href="http://www.creditcards.com/credit-card-tools/">Browse more tools</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-search-footer">
        </div>
    </div>
</div>