<!-- Site Sub Content Block-->
<div class="subcontent-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-cclogo"><img class="img-responsive" src="/assets/images/aboutcc_logo.png" width="230" height="88"> </div>
            </div>
            <div class="col-md-12">
                <div class="about-cccom-content">
                    <h2> About CreditCards.com</h2>
                    <p>At CreditCards.com we've partnered with leading
                        banks and issuers in order to bring you credit card offers online.
                        Offers are displayed side by side so you can easily compare key factors
                        such as interest rates, annual fees as well as other key features.</p>
                    <br>
                    <p>Once you have found the card from one of our
                        partners that is best for you, you can fill out an online application
                        and in some cases even get a credit decision within 60 seconds.</p>
                    <br>
                    <p>At CreditCards.com our goal is to provide consumers a resource to search, compare and <a href="http://www.creditcards.com/apply/">apply</a> for a selection of credit card offers online.</p>
                    <br>
                </div>
                <div class="about-showhide-btn"> <a href="http://www.creditcards.com/collapse-show" data-toggle="collapse" data-target="#bank-content"><i class="fa fa-plus-circle fa-lg" style="color:#fff;"></i> &nbsp; <span id="show_more_less_text">Show more</span> </a> </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-blue">
                    <div class="panel-heading">We're Here to Help You</div>
                    <div class="panel-body">
                        <div class="list-group">
                            <a target="_blank" href="https://my.creditcards.com/?qls=MCC_BTMHOMEP.091115CRED" class="list-group-item list-group-item-blue">
                                <img src="/assets/images/my-creditcards-home.png" style=" padding:3px 0 8px 0;">
                                <i class="fa fa-angle-right fa-lg pull-right" style=" padding-top:5px;"></i>
                                <div class="list-group-item-heading">Free Credit Score and Monitoring</div>
                                <p class="list-group-item-text">Get an updated credit score for free each month.</p>
                            </a> </div>
                        <div class="list-group">
                            <a target="_blank" href="https://www.creditcards.com/cardmatch/?action=show_form" class="list-group-item list-group-item-blue">
                                <img src="/assets/images/card-match.png" style=" padding:3px 0 8px 0;">
                                <i class="fa fa-angle-right fa-lg pull-right" style=" padding-top:5px;"></i>
                                <div class="list-group-item-heading">Better Offers via CardMatch™ </div>
                                <p class="list-group-item-text">See offers matched with your credit profile.</p>
                            </a> </div>
                        <div class="list-group">
                            <a target="_blank" href="https://walletup.creditcards.com/app?utm_source=ccrd&amp;utm_medium=referral&amp;utm_content=home_about&amp;utm_campaign=walletup" class="list-group-item list-group-item-blue">
                                <img src="/assets/images/wallet-up.png" style=" padding:3px 0 8px 0;">
                                <i class="fa fa-angle-right fa-lg pull-right" style=" padding-top:5px;"></i>
                                <div class="list-group-item-heading">Max Rewards with WalletUp®</div>
                                <p class="list-group-item-text">Maximize your rewards, cash back, and points earnings.</p>
                            </a> </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="bank-content" class="collapse">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-24">
                            <div class="about-cccom-content">
                                <h4>Search for a Credit Card by Bank</h4>
                                <p>CreditCards.com has partnered with
                                    dozens of banks, including the ones listed below, to allow our users to
                                    search for a credit card by bank.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="about-ccbank-hldr"> <a href="http://www.creditcards.com/American-Express.php"><img src="/assets/images/icon_americanexpress_bank.png" class="ccbank-img" alt="American Express" width="80" height="80"></a>
                                <div class="ccbank-content">
                                    <p><a href="http://www.creditcards.com/American-Express.php">American Express</a>
                                        credit cards offer rewards programs and great rates. Cards include
                                        Platinum and Gold Charge Cards, Delta SkyMiles, and Starwood Preferred
                                        Guest® Credit Card.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="about-ccbank-hldr"> <a href="http://www.creditcards.com/Bank-of-America.php"><img src="/assets/images/icon_bankofamerica_bank.png" class="ccbank-img" alt="Bank of America" width="80" height="80"></a>
                                <div class="ccbank-content">
                                    <p><a href="http://www.creditcards.com/Bank-of-America.php"><strong>Bank of America</strong></a>
                                        offers a variety of high-value credit cards, like the BankAmericard
                                        Cash Rewards™, BankAmericard Travel Rewards®, BankAmericard® Credit
                                        Card, and <a href="http://www.creditcards.com/mlb-credit-cards.php">MLB BankAmericard Cash Rewards™</a> featuring competitive rates.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="about-ccbank-hldr"> <a href="http://www.creditcards.com/Capital-One.php"><img src="/assets/images/icon_capitalone_bank.png" class="ccbank-img" alt="Capital One" width="80" height="80"></a>
                                <div class="ccbank-content">
                                    <p><a href="http://www.creditcards.com/Capital-One.php">Capital One</a>
                                        offers credit cards for frequent flyers and shoppers who want to redeem
                                        rewards for travel, merchandise or cash back. Capital One cards feature
                                        competitive rates designed for all types of credit. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="about-ccbank-hldr"> <a href="http://www.creditcards.com/credit-one.php"><img src="/assets/images/icon_capitalonebank_bank.png" class="ccbank-img" alt="Credit One" width="80" height="80"></a>
                                <div class="ccbank-content">
                                    <p><a href="http://www.creditcards.com/credit-one.php">Credit One Bank®</a>
                                        is one of America's leading issuers of VISA® credit cards. Credit One
                                        Bank® provides  credit cards to individuals who have been historically
                                        overlooked by other banks because of their less than perfect credit.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="about-ccbank-hldr"> <a href="http://www.creditcards.com/barclaycard.php"><img src="/assets/images/icon_barclaycard_bank.png" class="ccbank-img" alt="Barclaycard" width="80" height="80"></a>
                                <div class="ccbank-content">
                                    <p><a href="http://www.creditcards.com/barclaycard.php">Barclaycard®</a>
                                        is one of the world's largest financial services companies with over
                                        300 years of experience. Barclaycard issues the Barclaycard Rewards
                                        MasterCard credit card and <a href="http://www.creditcards.com/nfl-extra-points.php">NFL Extra Points team cards</a>.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="about-ccbank-hldr"> <a href="http://www.creditcards.com/Chase.php"><img src="/assets/images/icon_chase_bank.png" class="ccbank-img" alt="Chase Bank Credit Cards" width="80" height="80"></a>
                                <div class="ccbank-content">
                                    <p><a href="http://www.creditcards.com/Chase.php">Chase</a> provides many great offers: Chase Freedom®, Chase Sapphire Preferred® Card, Chase Slate®, and more.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="about-ccbank-hldr"> <a href="http://www.creditcards.com/Citi.php"><img src="/assets/images/icon_citi_bank.png" class="ccbank-img" alt="Citibank" width="80" height="80"></a>
                                <div class="ccbank-content">
                                    <p><a href="http://www.creditcards.com/Citi.php">Citibank</a>
                                        offers a great choice of cards with rewards, low interest rates and no
                                        annual fee. Cards include Citi Simplicity card, Citi Forward card, Citi
                                        ThankYou card. Also see Citi business and student credit cards.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="about-ccbank-hldr"> <a href="http://www.creditcards.com/Discover.php"><img src="/assets/images/icon_discover_bank.png" class="ccbank-img" alt="Discover" width="80" height="80"></a>
                                <div class="ccbank-content">
                                    <p><a href="http://www.creditcards.com/Discover.php">Discover®</a>
                                        offers the Discover it® card with 0% intro APR and unlimited cash
                                        rewards. Card members can sign up for free to earn 5% cash back each
                                        quarter. Plus, a full 1% cash back on all other purchases. Also
                                        available: Discover it® for Students.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="about-ccbank-hldr"> <a href="http://www.creditcards.com/Visa.php"><img src="/assets/images/icon_visa_bank.png" class="ccbank-img" alt="Visa" width="80" height="80"></a>
                                <div class="ccbank-content">
                                    <p><a href="http://www.creditcards.com/Visa.php">Visa Credit Cards</a>
                                        offer exceptional convenience and reliability and are used by people
                                        around the world. Visa is acceptance in more than 150 countries. It's a
                                        secure, reliable way to pay anywhere in the world.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="about-ccbank-hldr"> <a href="http://www.creditcards.com/Mastercard.php"><img src="/assets/images/icon_mastercard_bank.png" class="ccbank-img" alt="Mastercard" width="80" height="80"></a>
                                <div class="ccbank-content">
                                    <p><a href="http://www.creditcards.com/Mastercard.php">MasterCard</a>
                                        credit cards are widely accepted around the world. They serve customers
                                        in over 210 countries, and process over 15 million transactions a day
                                        in over 180 currencies.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="about-ccbank-hldr"> <a href="http://www.creditcards.com/first-premier.php"><img src="/assets/images/icon_firstpremier_bank.png" class="ccbank-img" alt="First Premier Bank Credit Card" width="80" height="80"></a>
                                <div class="ccbank-content">
                                    <p><a href="http://www.creditcards.com/first-premier.php">First PREMIER® Bank</a> offers secured and unsecured fee based credit cards.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="about-ccbank-hldr"> <a href="http://www.creditcards.com/us-bank-credit-cards.php"><img src="/assets/images/icon_usbank_bank.png" class="ccbank-img" alt="First Premier Bank Credit Card" width="80" height="80"></a>
                                <div class="ccbank-content">

                                    <p><a href="http://www.creditcards.com/us-bank-credit-cards.php">U.S. Bank</a>
                                        is the 5th largest commercial bank in the United States. The company
                                        operates 3,086 banking offices and 5,086 ATMs, and provides a
                                        comprehensive line of banking, brokerage, and payment services products.</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="about-ccbank-hldr"> <a href="http://www.creditcards.com/usaa.php"><img src="/assets/images/icon_usaa_bank.png" class="ccbank-img" alt="USAA" width="80" height="80"></a>
                                <div class="ccbank-content">
                                    <p><a href="http://www.creditcards.com/usaa.php"><strong>USAA Bank</strong></a>
                                        offers competitive credit card products to military members, veterans
                                        who have received an Honorable discharge, and their eligible family
                                        members.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="about-ccbank-hldr"> <a href="http://www.creditcards.com/bbt.php"><img src="/assets/images/icon_bbt_bank.png" class="ccbank-img" alt="BB&amp;T" width="80" height="80"></a>
                                <div class="ccbank-content">
                                    <p><a href="http://www.creditcards.com/bbt.php"><strong>BB&amp;T</strong></a>
                                        is among the largest financial services companies in the U.S. and
                                        offers excellent credit cards supported by outstanding client service.
                                        Whether you want a low rate or clear and flexible rewards, the choice is
                                        yours. </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="about-ccbank-hldr"> <a href="http://www.creditcards.com/td-bank-credit-cards.php"><img src="/assets/images/td-bank-logo-100715.png" class="ccbank-img" alt="TD Bank" width="80" height="80"></a>
                                <div class="ccbank-content">
                                    <p><a href="http://www.creditcards.com/td-bank-credit-cards.php"><strong>TD Bank</strong></a>,
                                        America's Most Convenient Bank®, is one of the 10 largest banks in the
                                        U.S. With over 1300 locations, weekend &amp; extended hours, and strong
                                        community ties, TD might be the right bank for you.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>
                    <br>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-darkblue">
                        <div class="panel-heading">Card Offers from Our Partners</div>
                        <div class="panel-body">
                            <!-- ////////Content Goes Here////////// -->
                            <div class="list-group"> <a href="http://www.creditcards.com/low-interest.php" class="list-group-item list-group-item-darkblue"> <i class="fa fa-angle-right fa-lg pull-right gutter-arrow-padding"></i> <span class="gutter-icon-hldr pull-left"><i class="fa fa-percent"></i></span>
                                <div class="list-group-item-heading">Low Interest Credit Cards</div>
                                <p class="list-group-item-text">Cards with 0% intro APRs &amp; low fixed rate offers.</p>
                            </a> </div>
                            <div class="list-group"> <a href="http://www.creditcards.com/balance-transfer.php" class="list-group-item list-group-item-darkblue"> <i class="fa fa-angle-right fa-lg pull-right gutter-arrow-padding"></i> <span class="gutter-icon-hldr pull-left"><i class="fa fa-arrows-h"></i></span>
                                <div class="list-group-item-heading">Balance Transfer Cards</div>
                                <p class="list-group-item-text">Transfer a high interest balance onto a low APR card.</p>
                            </a> </div>
                            <div class="list-group"> <a href="http://www.creditcards.com/reward.php" class="list-group-item list-group-item-darkblue"> <i class="fa fa-angle-right fa-lg pull-right gutter-arrow-padding"></i> <span class="gutter-icon-hldr pull-left"><i class="fa fa-gift "></i></span>
                                <div class="list-group-item-heading">Rewards Credit Cards</div>
                                <p class="list-group-item-text">Cards that "reward" you for your purchases.</p>
                            </a> </div>
                            <div class="list-group"> <a href="http://www.creditcards.com/cash-back.php" class="list-group-item list-group-item-darkblue"> <i class="fa fa-angle-right fa-lg pull-right gutter-arrow-padding"></i> <span class="gutter-icon-hldr pull-left"> <i class="fa fa-usd"></i> </span>
                                <div class="list-group-item-heading"> Cash Back Credit Cards</div>
                                <p class="list-group-item-text">Cards that allow you to earn cash back on purchases.</p>
                            </a> </div>
                            <div class="list-group"> <a href="http://www.creditcards.com/airline-miles.php" class="list-group-item list-group-item-darkblue"> <i class="fa fa-angle-right fa-lg pull-right gutter-arrow-padding"></i> <span class="gutter-icon-hldr pull-left"><i class="fa fa-plane"></i></span>
                                <div class="list-group-item-heading">Airline Credit Cards</div>
                                <p class="list-group-item-text">Earn frequent flyer miles with an airline card.</p>
                            </a> </div>
                            <div class="list-group"> <a href="http://www.creditcards.com/smart-emv-chip.php" class="list-group-item list-group-item-darkblue"> <i class="fa fa-angle-right fa-lg pull-right gutter-arrow-padding"></i> <span class="gutter-icon-hldr pull-left"><i class="fa fa-barcode"></i></span>
                                <div class="list-group-item-heading">EMV Chip Credit Cards</div>
                                <p class="list-group-item-text">Cards that utilize EMV Chip security.</p>
                            </a> </div>
                            <div class="list-group"> <a href="http://www.creditcards.com/instant-approval.php" class="list-group-item list-group-item-darkblue"> <i class="fa fa-angle-right fa-lg pull-right gutter-arrow-padding"></i> <span class="gutter-icon-hldr pull-left"><i class="fa fa-check"></i></span>
                                <div class="list-group-item-heading">Instant Approval Cards</div>
                                <p class="list-group-item-text">Get approved instantly on select card offers from specific
                                    banks.</p>
                            </a> </div>
                            <div class="list-group"> <a href="http://www.creditcards.com/prepaid.php" class="list-group-item list-group-item-darkblue"> <i class="fa fa-angle-right fa-lg pull-right gutter-arrow-padding"></i> <span class="gutter-icon-hldr pull-left"><i class="fa fa-credit-card"></i></span>
                                <div class="list-group-item-heading">Prepaid &amp; Debit Cards</div>
                                <p class="list-group-item-text">Control your spending with debit cards, prepaid debit cards, and
                                    prepaid cards.</p>
                            </a> </div>
                            <div class="list-group"> <a href="http://www.creditcards.com/secured-credit-cards.php" class="list-group-item list-group-item-darkblue"> <i class="fa fa-angle-right fa-lg pull-right gutter-arrow-padding"></i> <span class="gutter-icon-hldr pull-left"> <i class="fa fa-lock"></i> </span>
                                <div class="list-group-item-heading">Secured Credit Cards</div>
                                <p class="list-group-item-text">Secured cards give you a credit line and report your payment
                                    activity to the major credit bureaus.</p>
                            </a> </div>
                            <div class="list-group"> <a href="http://www.creditcards.com/bad-credit.php" class="list-group-item list-group-item-darkblue"> <i class="fa fa-angle-right fa-lg pull-right gutter-arrow-padding"></i> <span class="gutter-icon-hldr pull-left"><i class="fa fa-chain-broken"></i></span>
                                <div class="list-group-item-heading">Cards for Bad Credit</div>
                                <p class="list-group-item-text">Cards for people with bad credit or less than perfect credit.</p>
                            </a> </div>
                            <div class="list-group"> <a href="http://www.creditcards.com/college-students.php" class="list-group-item list-group-item-darkblue"> <i class="fa fa-angle-right fa-lg pull-right gutter-arrow-padding"></i> <span class="gutter-icon-hldr pull-left"><i class="fa fa-book"></i></span>
                                <div class="list-group-item-heading">Student Credit Cards</div>
                                <p class="list-group-item-text">Card offers for high school &amp; college students.</p>
                            </a> </div>
                            <div class="list-group"> <a href="http://www.creditcards.com/business.php" class="list-group-item list-group-item-darkblue"> <i class="fa fa-angle-right fa-lg pull-right gutter-arrow-padding"></i> <span class="gutter-icon-hldr pull-left"><i class="fa fa-briefcase"></i></span>
                                <div class="list-group-item-heading">Business Credit Cards</div>
                                <p class="list-group-item-text">Cards for corporate &amp; small-business owners.</p>
                            </a> </div>
                            <div class="list-group"> <a href="http://www.creditcards.com/no-foreign-transaction-fee.php" class="list-group-item list-group-item-darkblue"> <i class="fa fa-angle-right fa-lg pull-right gutter-arrow-padding"></i> <span class="gutter-icon-hldr pull-left"><i class="fa fa-globe"></i></span>
                                <div class="list-group-item-heading">Cards with No Foreign Transaction Fee</div>
                                <p class="list-group-item-text">Cards that do not charge a foreign transaction fee.</p>
                            </a> </div>
                            <div class="list-group"> <a href="http://www.creditcards.com/apple-pay.php" class="list-group-item list-group-item-darkblue"> <i class="fa fa-angle-right fa-lg pull-right gutter-arrow-padding"></i> <span class="gutter-icon-hldr pull-left"><i class="fa fa-apple"></i></span>
                                <div class="list-group-item-heading">Apple Pay™ Ready Credit Cards</div>
                                <p class="list-group-item-text">Cards that are Apple Pay compatible.</p>
                            </a> </div>
                            <div class="list-group"> <a href="http://www.creditcards.com/retail-rewards.php" class="list-group-item list-group-item-darkblue"> <i class="fa fa-angle-right fa-lg pull-right gutter-arrow-padding"></i> <span class="gutter-icon-hldr pull-left"><i class="fa fa-shopping-cart"></i></span>
                                <div class="list-group-item-heading">Retail Credit Cards</div>
                                <p class="list-group-item-text">Cards that offer points that can be redeemed with specific retailers.</p>
                            </a> </div>
                            <div class="list-group"> <a href="http://www.creditcards.com/0-apr-credit-cards.php" class="list-group-item list-group-item-darkblue"> <i class="fa fa-angle-right fa-lg pull-right gutter-arrow-padding"></i> <span class="gutter-icon-hldr pull-left"><i class="fa fa-ban"></i></span>
                                <div class="list-group-item-heading">0% APR Credit Cards</div>
                                <p class="list-group-item-text">Cards with 0% APR for up to 18 months on purchases or balance
                                    transfers.</p>
                            </a> </div>
                            <div class="list-group"> <a href="http://www.creditcards.com/limited-time-offers.php" class="list-group-item list-group-item-darkblue"> <i class="fa fa-angle-right fa-lg pull-right gutter-arrow-padding"></i> <span class="gutter-icon-hldr pull-left"><i class="fa fa-clock-o"></i></span>
                                <div class="list-group-item-heading">Limited Time Offers</div>
                                <p class="list-group-item-text">Take advantage of these offers - will not last long.</p>
                            </a> </div>
                        </div>
                    </div>
                </div>
                <!--col-lg-6-->
            </div>
            <!--row-->
        </div>
        <!--#bank-content-->
    </div>
    <!--container-->
</div>
<!--subcontent-block-->