<div class="row">
    <div class="col-sm-24 col-md-24 col-lg-24">
        <div class="quick-links-hldr">
            <div class="quick-links-title">Quick Links</div>
            <br>
            <a href="/Bank-of-America.php">More cards you may be interested in</a>
            <br>
            <br>
            <a href="/glossary/">Credit Card Glossary</a>
            <br>
            <br>
            <a href="/credit-card-news/help/">Credit Card Basics &amp; Help</a>
        </div>
    </div><!--column-->
</div><!--row-->